# Ignore all the files and folders in the bundle directory
config/nvim/bundle/
config/nvim/.netrwhist
config/nvim/.init.vim-rplugin~
vim/bundle/
vim/bundle/L9/*
vim/bundle/AutoComplPop/*
vim/bundle/bash-support.vim/*
vim/bundle/vim-buffer-explorer-plugin/*
vim/bundle/delimitMate/*
vim/bundle/supertab/*
vim/bundle/syntastic/*
vim/bundle/tagbar/*
vim/bundle/vim-fugitive/*
vim/bundle/vim-javascript/*
vim/bundle/vundle/*
vim/.netrwhist
config/configstore/update-notifier-bower.json
config/configstore/bower-github.json

.DS_Store
Mac/.DS_Store
Linux/.DS_Store
